@font-face{
  font-family:Open Sans;
  src:url(/fonts/OpenSans.woff2) format("woff2"); 
  font-display:swap
}
:root{
  --accent-color:#09c;
  --accent-light-color:#00a3da
}

*{ -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-drag:none; -moz-user-drag:none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -ms-touch-action:manipulation; 
    touch-action:manipulation; vertical-align:top; font-weight:400; outline:none
}
body,html{
  margin:0;
  padding:0; 
  height:100%; 
  width:100%; 
  color:#fff; 
  overflow:hidden; 
  font-size:13px; 
  background-color:#000; 
  font-family:Open Sans,sans-serif
}
h1,h2,h3,h4,h5,h1.login-title{ text-transform:uppercase; font-weight:700; margin:0
}
input[type=range]::-moz-range-track{ background:none
}
input[type=range]::-moz-focusring{ outline:1px solid #282828;
	outline-offset:-1px
}
input[type=range]{
	-webkit-appearance:none;
	height:26px;
	margin:0;
	background:linear-gradient(90deg,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2));
	background-size:100% 2px;
	background-position:50%;
	background-repeat:no-repeat; 
    overflow:hidden;
	outline:none;
	cursor:pointer
}
input[type=range]::-ms-tooltip{ display:none
}
input[type=range]::-moz-range-thumb{ border:none; width:20px; height:20px; background:#555; border-radius:10px; position:relative; z-index:3; background:radial-gradient(ellipse at center,#292c31 0,#292c31 33%,#54565a 38%,#54565a 
    46%,#292c31 52%,#292c31 100%); background-size:20px 20px; background-position:50%; background-repeat:no-repeat
}
input[type=range]::-webkit-slider-thumb{ -webkit-appearance:none; width:20px; height:20px; background:#555; border-radius:10px; position:relative; z-index:3; border:0!important; background:radial-gradient(ellipse at 
    center,#292c31 0,#292c31 33%,#54565a 38%,#54565a 46%,#292c31 52%,#292c31 100%); background-size:20px 20px; background-position:50%; background-repeat:no-repeat
}
input.number,input[type=number],input[type=text],input[type=url]{
	width:66px;
	height:26px;
	padding:4px;
	font-size:12px;
	line-height:26px;
	font-family:Open Sans,sans-serif;
	color:#999;
	letter-spacing:1px;
	transition:all .15s linear;
	background:rgba(0,0,0,.1);
	border:2px solid hsla(0,0%,100%,.1);
	border-radius:2px;
	-moz-appearance:textfield
}

input[type=text],input[type=url]{
	height:32px;
	line-height:28px;
	padding-left:6px!important;
	margin:0!important
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
	-webkit-appearance:none; margin:0;
}
input[type=time]{
	width: 110px;
	height: 26px;
	padding: 4px;
	font-size: 12px;
	line-height: 12px;
	font-family: Open Sans,sans-serif;
	color: #999;
	letter-spacing: 1px;
	transition: all .15s linear;
	background: rgba(0,0,0,.1);
	border: 2px solid hsla(0,0%,100%,.1);
	border-radius: 2px;
	-moz-appearance: textfield;
}

input[type=submit], input[type=button]{
	background:#09c;
	color:white;
	outline: none;
	margin:10px;
	border:0px;
	padding:5px;
	min-width: 50px;
	cursor: pointer;
}

.save-message{
	position:fixed;
	bottom:20px;
	right:20px;
	display:none;
	background: #09c;
	color:white;
	border-radius:50px;
	padding:10px 20px 10px 20px;
	font-size: 20px;
}
.form {
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
}
/* h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
} */
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #666;
}

.form {
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
}
/* h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
} */
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #666;
}