{% extends 'smenu.html' %}
{% block title %}Open Production Actual{% endblock %}
{% block content %}
{% if user.is_authenticated %}

    <div class="modal-content">
        <div>
            <span></span>
            <h1 class="modal-title">Defects</h1>
  
  
            <form id="defects-form" action="" method="post">
                <table style="border:1px;">
                    <tr>
                        <th>Run</th>
                        <th>4M</th>
                        <th>Trash</th>
                        <th>Repair</th>
                        <th>Analysis</th>
                        <th>Quarantine</th>
                        <th>Cabbage Patch</th>
                        <th>Machine</th>
                        <th>Production Number</th>
                        <th>Code</th>
                        <th>Defect Details</th>
                        <th>New Code UID</th>
                    </tr>
                    <tr>
                        <td><input style="width:45px;" name="run" value="" size="" type="number" placeholder="0">
                        </td>
                        </td>
                        <td><input style="width:45px;" name="4M" value="" size="" type="number" placeholder="0">
                        </td>
                        <td><input style="width:45px;" name="" value="" size="" type="number" placeholder="0"></td>
                        <td><input style="width:45px;" name="t" value="" size="" type="number" placeholder="0"></td>
                        <td><input style="width:45px;" name="" value="" size="" type="number" placeholder="0"></td>
                        <td><input style="width:45px;" name="" value="" size="" type="number" placeholder="0"></td>
                        <td><input style="width:45px;" name="" value="" size="" type="number" placeholder="0"></td>
                        <td><input style="width:45px;" name="machine" value="" size="" type="number"
                                placeholder="0"></td>
                        <td><input style="width:45px;" name="pnumber" value="" size="" type="number"
                                placeholder="0"></td>
                        <td><input style="width:45px;" name="dcode" value="" size="" type="number" placeholder="0">
                        </td>
                        <td><input style="width:45px;" name="code-details" value="" size="" type="number"
                                placeholder="0"></td>
                        <td><input style="width:45px;" name="uid" value="" size="" type="number" placeholder="0">
                        </td>
                    </tr>
                </table>
  
                <input type="submit" name="defectokbutton" value="OK" id="defectokbutton">
                <a href="{% url 'ProductionActual' ProductionActual.id %}" >
                <input type="button" class="close-modal" name="defectbackbutton" value="Close"
                    id="defectclosebutton">
                </a>
            </form>
        </div>
    </div>
  

{% else %}
{% endif %}
{% endblock %}