{% extends 'smenu.html' %}

{% block title %}Production Actual{% endblock %}

{% block content %}
{% if user.is_authenticated %}



<div class="container">
    <div class="row">
        <!-- <div class="col-sm-6_disable"></div> -->
            <!-- start of block1 div-->
            <div name=block1 class="block1 rounded-block"
                style="">
                <h1>Prodcution Actual Record</h1>
                <br>
                <table>
                    <tr>
                        <td width="150px">Line#</td>
                        <td>
                            {{ ProductionActual.assembly_line_number }}
                        </td>
                    </tr>
                    <tr>
                        <td>Date:</td>
                        <td>
                            {{ ProductionActual.pa_date }}
                        </td>
                    </tr>
                    <tr>
                        <td>Han-Cho:</td>
                        <td>
                        {{ ProductionActual.user.first_name }} {{ ProductionActual.user.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>Shift:</td>
                        <td>
                            {{ ProductionActual.shift }}
                        </td>
                    </tr>
                </table>
            </div>
        <!-- </div> -->
        <!-- <div style="float: right;" class="col-sm-6_disable"> -->
            <!-- include block 2 datatable -->
            <div name="block2" class="block2 rounded-block center-text">


                <form method="POST" action="{% url 'ProductionActual' ProductionActual.id %}" enctype="multipart/form-data"> {% csrf_token %}
                    <table style="boarder:1px;">
                        <tr>
                            <td>
                                <!--required td for blankspace -->
                            </td>
                            <td>Hour 1</td>
                            <td>Hour 2</td>
                            <td>Hour 3</td>
                            <td>Hour 4</td>
                            <td>Hour 5</td>
                            <td>Hour 6</td>
                            <td>Hour 7</td>
                            <td>Hour 8</td>
                            <td>Hour 9</td>
                            <td>Hour 10</td>
                            <td>Hour 11</td>
                            <td>Hour 12</td>
                        </tr>
                        <tr>
                            <td>Pcs/Per/Hour</td>
                            <td>{{ hourlyform.hour1 }}</td>
                            <td>{{ hourlyform.hour2 }}</td>
                            <td>{{ hourlyform.hour3 }}</td>
                            <td>{{ hourlyform.hour4 }}</td>
                            <td>{{ hourlyform.hour5 }}</td>
                            <td>{{ hourlyform.hour6 }}</td>
                            <td>{{ hourlyform.hour7 }}</td>
                            <td>{{ hourlyform.hour8 }}</td>
                            <td>{{ hourlyform.hour9 }}</td>
                            <td>{{ hourlyform.hour10 }}</td>
                            <td>{{ hourlyform.hour11 }}</td>
                            <td>{{ hourlyform.hour12 }}</td>
                        </tr>
                        <tr>
                            <td>Cumulative Pcs.</td>
                            <td><input id="calchour1" type="number" value="{{ hourcalc.hour1calc }}" disabled></td>
                            <td><input id="calchour2" type="number" value="{{ hourcalc.hour2calc }}" disabled></td>
                            <td><input id="calchour3" type="number" value="{{ hourcalc.hour3calc }}" disabled></td>
                            <td><input id="calchour4" type="number" value="{{ hourcalc.hour4calc }}" disabled></td>
                            <td><input id="calchour5" type="number" value="{{ hourcalc.hour5calc }}" disabled></td>
                            <td><input id="calchour6" type="number" value="{{ hourcalc.hour6calc }}" disabled></td>
                            <td><input id="calchour7" type="number" value="{{ hourcalc.hour7calc }}" disabled></td>
                            <td><input id="calchour8" type="number" value="{{ hourcalc.hour8calc }}" disabled></td>
                            <td><input id="calchour9" type="number" value="{{ hourcalc.hour9calc }}" disabled></td>
                            <td><input id="calchour10" type="number" value="{{ hourcalc.hour10calc }}" disabled></td>
                            <td><input id="calchour11" type="number" value="{{ hourcalc.hour11calc }}" disabled></td>
                            <td><input id="calchour12" type="number" value="{{ hourcalc.hour12calc }}" disabled></td>
                        </tr>
                    </table>
                    <!-- below is a hidden button, this is required to update the hourly -->
                    <input type="submit" value="Submit" style="display: none;">
                </form>


                <!-- form end tag required -->
            </div>
        <!-- </div> -->
    </div>

    <div class="row">
        <!-- <div class="col-sm-12"> -->
            <!-- include block 3 datatable -->
            {%if RunsExist %}
            <div name="block3" class="rounded-block center-text">
                <form method="POST" action="{% url 'ProductionActual' ProductionActual.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table id="block3" class="block3 sep-rows">
                        <tr>
                            <th>Run#</th>
                            <th>Partal Start</th>
                            <th>Partal End</th>
                            <th>Finished Goods</th>
                            <th>Kanban Count</th>
                            <th class="product_number">Product Number</th>
                            <th>Team Members</th>
                            <th class="run_time">Start Time</th>
                            <th class="run_time">Finish Time</th>
                            <th>Plan Down Time</th>
                            <th>Net Ope.</th>
                            <th>Plan Qty</th>
                            <th>Result Qty</th>
                            <th>Scrap</th>
                            <th>Repair</th>
                            <th>Analysis</th>
                            <th>Quarantine</th>
                            <th>Cabbage Patch</th>
                            <th>Unplan Downtime</th>
                            <th>Cycle Time</th>
                            <th>Standard Time</th>
                            <th>OA</th>
                            <th>OA w/o Downtime</th>
                        </tr>
                        
                    {% if runform1.number %}
                        <tr>
                            <td>{{ runform1.number }}</td>
                            <td>{{ runform1.partal_start }}</td>
                            <td>{{ runform1.partal_end }}</td>
                            <td>{{ runform1.finished_goods }}</td>
                            <td>{{ runform1.kanban_count }}</td>
                            <td>{{ runform1.product_number }}</td>
                            <td><input id="calchour1" type="number" value="{{ numoftm1 }}" disabled></td>
                            <td>{{ runform1.start_time }}</td>
                            <td>{{ runform1.finish_time }}</td>
                            <td>{{ runform1.plan_down_time }}</td>
                            <td>{{ runform1.net_ope_time }}</td>
                            <td>{{ runform1.plan_quanity }}</td>
                            <td>{{ runform1.result_quanity }}</td>
                            <td>{{ runform1.scrap_quanity }}</td>
                            <td>{{ runform1.repair_quanity }}</td>
                            <td>{{ runform1.analysis_quanity }}</td>
                            <td>{{ runform1.quarantine_quanity }}</td>
                            <td>{{ runform1.cabbage_patch_quanity }}</td>
                            <td>{{ runform1.unplan_downtime }}</td>
                            <td><input id="calchour1" type="number" value="{{ cycletime1 }}" disabled></td>
                            <td>{{ runform1.standard_time }}</td>
                            <td>{{ runform1.oa }}</td>
                            <td>{{ runform1.oa_without_downtime }}</td>
                        </tr>
                        {% else %}
                        {% endif %}
                        {% if runform2.number %}
                        <tr>
                            <td>{{ runform2.number }}</td>
                            <td>{{ runform2.partal_start }}</td>
                            <td>{{ runform2.partal_end }}</td>
                            <td>{{ runform2.finished_goods }}</td>
                            <td>{{ runform2.kanban_count }}</td>
                            <td>{{ runform2.product_number }}</td>
                            <td><input id="calchour1" type="number" value="{{ numoftm2 }}" disabled></td>
                            <td>{{ runform2.start_time }}</td>
                            <td>{{ runform2.finish_time }}</td>
                            <td>{{ runform2.plan_down_time }}</td>
                            <td>{{ runform2.net_ope_time }}</td>
                            <td>{{ runform2.plan_down_time }}</td>
                            <td>{{ runform2.plan_quanity }}</td>
                            <td>{{ runform2.result_quanity }}</td>
                            <td>{{ runform2.scrap_quanity }}</td>
                            <td>{{ runform2.repair_quanity }}</td>
                            <td>{{ runform2.analysis_quanity }}</td>
                            <td>{{ runform2.quarantine_quanity }}</td>
                            <td>{{ runform2.cabbage_patch_quanity }}</td>
                            <td>{{ runform2.unplan_downtime }}</td>
                            <td><input id="calchour1" type="number" value="{{ runct1 }}" disabled></td>
                            <td>{{ runform2.standard_time }}</td>
                            <td>{{ runform2.oa }}</td>
                            <td>{{ runform2.oa_without_downtime }}</td>
                        </tr>
                        {% else %}
                        {% endif %}
                        {% if runform3.number %}
                        <tr>
                            <td>{{ runform3.number }}</td>
                            <td>{{ runform3.partal_start }}</td>
                            <td>{{ runform3.partal_end }}</td>
                            <td>{{ runform3.finished_goods }}</td>
                            <td>{{ runform3.kanban_count }}</td>
                            <td>{{ runform3.product_number }}</td>
                            <td><input id="calchour1" type="number" value="{{ numoftm3 }}" disabled></td>
                            <td>{{ runform3.start_time }}</td>
                            <td>{{ runform3.finish_time }}</td>
                            <td>{{ runform3.plan_down_time }}</td>
                            <td>{{ runform3.net_ope_time }}</td>
                            <td>{{ runform3.plan_down_time }}</td>
                            <td>{{ runform3.plan_quanity }}</td>
                            <td>{{ runform3.result_quanity }}</td>
                            <td>{{ runform3.scrap_quanity }}</td>
                            <td>{{ runform3.repair_quanity }}</td>
                            <td>{{ runform3.analysis_quanity }}</td>
                            <td>{{ runform3.quarantine_quanity }}</td>
                            <td>{{ runform3.cabbage_patch_quanity }}</td>
                            <td>{{ runform3.unplan_downtime }}</td>
                            <td><input id="calchour1" type="number" value="{{ runct1 }}" disabled></td>
                            <td>{{ runform3.standard_time }}</td>
                            <td>{{ runform3.oa }}</td>
                            <td>{{ runform3.oa_without_downtime }}</td>
                        </tr>
                        {% else %}
                        {% endif %}
                        {% if runform4.number %}
                        <tr>
                            <td>{{ runform4.number }}</td>
                            <td>{{ runform4.partal_start }}</td>
                            <td>{{ runform4.partal_end }}</td>
                            <td>{{ runform4.finished_goods }}</td>
                            <td>{{ runform4.kanban_count }}</td>
                            <td>{{ runform4.product_number }}</td>
                            <td><input id="calchour1" type="number" value="{{ numoftm4 }}" disabled></td>
                            <td>{{ runform4.start_time }}</td>
                            <td>{{ runform4.finish_time }}</td>
                            <td>{{ runform4.plan_down_time }}</td>
                            <td>{{ runform4.net_ope_time }}</td>
                            <td>{{ runform4.plan_down_time }}</td>
                            <td>{{ runform4.plan_quanity }}</td>
                            <td>{{ runform4.result_quanity }}</td>
                            <td>{{ runform4.scrap_quanity }}</td>
                            <td>{{ runform4.repair_quanity }}</td>
                            <td>{{ runform4.analysis_quanity }}</td>
                            <td>{{ runform4.quarantine_quanity }}</td>
                            <td>{{ runform4.cabbage_patch_quanity }}</td>
                            <td>{{ runform4.unplan_downtime }}</td>
                            <td><input id="calchour1" type="number" value="{{ runct1 }}" disabled></td>
                            <td>{{ runform4.standard_time }}</td>
                            <td>{{ runform4.oa }}</td>
                            <td>{{ runform4.oa_without_downtime }}</td>
                        </tr>
                        {% else %}
                        {% endif %}
                    
                    
                    
                    </table>


                    
                    <!-- below is a hidden button, this is required to update the runs -->
                    <input type="submit" value="Submit" style="display: none;">
                </form>
            </div>
        
    </div>
    
<div>
    {% else %}
    <div name="block3" class="rounded-block center-text">
    No Runs Found For Production Actual
    </div>
    {% endif %}
</div>

{{ debug_out }}
{% else %}
{% endif %}
{% endblock %}
