{% extends 'smenu.html' %}

{% block title %}Production Actual{% endblock %}

{% block content %}
{% if user.is_authenticated %}


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <!-- start of block1 div-->
            <div name=block1 class="rounded-block"
                style="width:450px; flex-grow:1; font-size:10px; text-align:left; ">
                <h1
                    style="margin-top:0px; padding:5px 15px; font-size:25px; color:rgba(0,0,0,.75); background-color:#ccc">
                    Prodcution Actual Record</h1>
                <br>
                <table
                    style="letter-spacing:2px; display:block; padding:8px; font-size:15px; width:100%; border-top: 2px solid #09c;">
                    <tr>
                        <td width="150px">Line#</td>
                        <td>
                            {{ ProductionActual.assembly_line_number }}
                        </td>
                    </tr>
                    <tr>
                        <td>Date:</td>
                        <td>
                            {{ ProductionActual.pa_date }}
                        </td>
                    </tr>
                    <tr>
                        <td>Han-Cho:</td>
                        <td>
                        {{ user.first_name }} {{ user.last_name }} {{ ProductionActual.first_name }} {{ ProductionActual.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>Shift:</td>
                        <td>
                            {{ ProductionActual.shift }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- include block 2 datatable -->
            <div name="block2" id="block2" class="block2 rounded-block center-text" style="padding:10px;">


                <form id="hourly" action="main.php" method="post">
                    <table style="boarder:1px;">
                        <tr>
                            <td>
                                <!--required td for blankspace -->
                            </td>
                            <td>Hour 1</td>
                            <td>Hour 2</td>
                            <td>Hour 3</td>
                            <td>Hour 4</td>
                            <td>Hour 5</td>
                            <td>Hour 6</td>
                            <td>Hour 7</td>
                            <td>Hour 8</td>
                            <td>Hour 9</td>
                            <td>Hour 10</td>
                            <td>Hour 11</td>
                            <td>Hour 12</td>
                        </tr>
                        <tr>
                            <td>Pcs/Per/Hour</td>
                            <td><input style="" name="hour1input" value="<?php echo $hour1;?>" type="number"
                                    placeholder="0"></td>
                            <td><input style="" name="hour2input" value="<?php echo $hour2;?>" type="number"
                                    placeholder="0"></td>
                            <td><input style="" name="hour3input" value="<?php echo $hour3;?>" type="number"
                                    placeholder="0"></td>
                            <td><input style="" name="hour4input" value="<?php echo $hour4;?>" type="number"
                                    placeholder="0"></td>
                            <td><input style="" name="hour5input" value="<?php echo $hour5;?>" type="number"
                                    placeholder="0"></td>
                            <td><input style="" name="hour6input" value="<?php echo $hour6;?>" type="number"
                                    placeholder="0"></td>
                            <td><input style="" name="hour7input" value="<?php echo $hour7;?>" type="number"
                                    placeholder="0"></td>
                            <td><input style="" name="hour8input" value="<?php echo $hour8;?>" type="number"
                                    placeholder="0"></td>
                            <td><input style="" name="hour9input" value="<?php echo $hour9;?>" type="number"
                                    placeholder="0"></td>
                            <td><input style="" name="hour10input" value="<?php echo $hour10;?>" type="number"
                                    placeholder="0"></td>
                            <td><input style="" name="hour11input" value="<?php echo $hour11;?>" type="number"
                                    placeholder="0"></td>
                            <td><input style="" name="hour12input" value="<?php echo $hour12;?>" type="number"
                                    placeholder="0"></td>
                        </tr>
                        <tr>
                            <td>Cumulative Pcs.</td>
                            <td><input id="calchour1" style="" type="number" placeholder="0" disabled></td>
                            <td><input id="calchour2" style="" type="number" placeholder="0" disabled></td>
                            <td><input id="calchour3" style="" type="number" placeholder="0" disabled></td>
                            <td><input id="calchour4" style="" type="number" placeholder="0" disabled></td>
                            <td><input id="calchour5" style="" type="number" placeholder="0" disabled></td>
                            <td><input id="calchour6" style="" type="number" placeholder="0" disabled></td>
                            <td><input id="calchour7" style="" type="number" placeholder="0" disabled></td>
                            <td><input id="calchour8" style="" type="number" placeholder="0" disabled></td>
                            <td><input id="calchour9" style="" type="number" placeholder="0" disabled></td>
                            <td><input id="calchour10" style="" type="number" placeholder="0" disabled></td>
                            <td><input id="calchour11" style="" type="number" placeholder="0" disabled></td>
                            <td><input id="calchour12" style="" type="number" placeholder="0" disabled></td>
                        </tr>
                    </table>
                    <!-- <input type="submit" name="hourlyokbutton" value="OK" id="hourlyokbutton"> -->
                </form>


                <!-- form end tag required -->
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- include block 3 datatable -->
            <div name="block3" class="rounded-block center-text">
                <form>
                    <table id="block3" class="block3 sep-rows">
                        <tr>
                            <th>Run#</th>
                            <th>Partal Start</th>
                            <th>Partal End</th>
                            <th>Finished Goods</th>
                            <th>Kanban Count</th>
                            <th>Product Number</th>
                            <th>Team Members</th>
                            <th>Start Time</th>
                            <th>Finish Time</th>
                            <th>Plan Down Time</th>
                            <th>Net Operation</th>
                            <th>Plan Qty</th>
                            <th>Result Qty</th>
                            <th>Scrap</th>
                            <th>Repair</th>
                            <th>Analysis</th>
                            <th>Quarantine</th>
                            <th>Cabbage Patch</th>
                            <th>Unplan Downtime</th>
                            <th>Cycle Time</th>
                            <th>Standard Time</th>
                            <th>OA</th>
                            <th>OA w/o Downtime</th>
                        </tr>
                        <tr>
                            <td><input style="min-width:30px;" type="number" maxlength="2" placeholder="0"></td>
                            <td><input style="min-width:40px;" type="number" maxlength="3" placeholder="0"></td>
                            <td><input style="min-width:47px" type="number" maxlength="3" placeholder="0"></td>
                            <td><input style="min-width:47px" type="number" maxlength="3" placeholder="0"></td>
                            <td><input style="min-width:47px" type="number" placeholder="0"></td>
                            <td><input style="min-width:120px;" id="pnumber" maxlength="12"
                                    placeholder="000000-00000"></td>
                            <td><input style="min-width: 35px;" type="number" maxlength="1" placeholder="0"></td>
                            <td><input type="time"></td>
                            <td><input type="time"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="text" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                        </tr>

                        <tr>
                            <td><input style="min-width:30px;" type="number" maxlength="2" placeholder="0"></td>
                            <td><input style="min-width:40px;" type="number" maxlength="3" placeholder="0"></td>
                            <td><input style="min-width:47px" type="number" maxlength="3" placeholder="0"></td>
                            <td><input style="min-width:47px" type="number" maxlength="3" placeholder="0"></td>
                            <td><input style="min-width:47px" type="number" placeholder="0"></td>
                            <td><input style="min-width:120px;" maxlength="12" placeholder="000000-00000"></td>
                            <td><input style="min-width: 35px;" type="number" maxlength="1" placeholder="0"></td>
                            <td><input type="time"></td>
                            <td><input type="time"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                            <td><input type="text" placeholder="0"></td>
                            <td><input type="number" placeholder="0"></td>
                        </tr>

                    </table>
            </div>
        </div>
    </div>
</div>
Line: {{ ProductionActual.assembly_line_number }} date: {{ ProductionActual.pa_date }} id: {{ ProductionActual.id }}
{{ ProductionActualView.id }} <br> 
{{ user.username }} <br> 
{{ ProductionActual.id  }}<br> 
date {{ ProductionActual.pa_date  }}<br> 
 line {{ ProductionActual.assembly_line_number  }}<br> 
shift {{ ProductionActual.shift  }}<br> 
 user {{ ProductionActual.user  }}<br> 
last name {{ user.last_name  }}<br> 



{% else %}
{% endif %}
{% endblock %}
