{% extends 'base.html' %}
{% block menu %}
{% if user.is_authenticated %}

<ul id="smenu" class="smenu active">
<li>
    <a>File</a>
    <ul>
        <li><div><a href="{% url 'NewProductionActual' %}" id="">New Production Actual<span></span></a></div></li>
        <li><div><a href="{% url 'OpenYear' %}" id="">Open Production Actual<span></span></a></div></li>
        <li><div><a href="{% url 'OpenRecentProductionActual' %}" id="">Open Recent Production Actual<span></span></a></div></li>
        <li><a id="edit-preferences">Preferences..</a></li>
        <li><a id="Reload">Reload (With out save)</a></li>
        <li><a id="Write">Write (Save all data)</a></li>
      </ul>
  </li>
  {% if ProductionActual.id %} 
  <!-- we need to hide menu options that require an open productionactual -->
  <li>
      <a>Production</a>
      <ul>
            
          <li><a href="{% url 'ProductionActual' ProductionActual.id %}" id="viewproductionactual">View Production Actual<span></span></a></li>
            
          <li><a href="{% url 'AddRun' ProductionActual.id %}" id="addrun"> <span></span>Add Run</a></li>
          <li><a href="{% url 'RemoveRun' ProductionActual.id %}" id="addrun"> <span></span>Remove Run</a></li>
          <li class="split"></li>
          <li><a class="image" id="edit-stroke">Stroke..</a></li>
          <li><a class="image" id="edit-fill">Fill..</a></li>
          <li class="split"></li>
      </ul>
  </li>
    <li>
    <a>Downtime</a>
        <ul>
            <li><a href="{% url 'Downtime' ProductionActual.id %}" id="downtimemenuoption">Add/Edit Downtime</a></li>
            <li><a href="{% url 'LostTime' ProductionActual.id %}" id="">View Lost Time</a></li>
            <li><a id="fcode-request">New Fcode request</a></li>
            <li class="split"></li>
            <li><a id=""></a></li>
            <li><a id=""></a></li>
        </ul>
    </li>
    <li>
    <a>Defects</a>
        <ul>
            <li><a href="{% url 'Defects' ProductionActual.id %}" id="defectmenuoption">Add/Edit defect</a></li>
            <li><a id="dcode-request">New Dcode request</a></li>
            <li><a id=""></a></li>
            <li><a id=""></a></li>
            <li class="split"></li>
        </ul>
    </li>
      {% else %}{% endif %}
      {% if month %}{% if line %}
     <li>
      <a>Charts</a>
      <ul>
        
        <li><a href="{% url 'BlankProductionActual' %}{{ year }}/{{ month }}/{{ line }}/ProductionControlChart" id="production-control">Production Control<span>PC</span></a></li>
        <li><a href="{% url 'BlankProductionActual' %}{{ year }}/{{ month }}/{{ line }}/QualityControlChart" id="quality-control">Quality Control <span>QC</span></a></li>
        
          <li class="split"></li>
          <li><a id="auto-total-chart">Chart Totals, End of month<span>Ctrl + 0</span></a></li>
      </ul>
  </li>
  {% else %}{% endif %}{% else %}{% endif %}
  <li>
      <a>Help</a>
      <ul>
          <li><a id="help-shortcuts">Keyboard shortcuts..</a></li>
          <li class="split"></li>
          <li><a id="help-email">Email</a></li>
      </ul>
  </li>

  <li class="menu-float-right">
      <a>{{ user.username }}</a>
      <ul>
          <li><a href="{% url 'logout' %}" id="logout">Logout</a></li>
          {% if user.is_superuser %}
  <!-- django admin hidden when not administrator-->
          <li><a href="/admin" id="admin">django admin</a></li>
          {% endif %}
          {% if user.is_staff %}
    <!-- other options hidden when not "staff" -->
          <li><div><a href="{% url 'NewProduct' %}" id="">Add Product<span></span></a></div></li>
          {% endif %}

      </ul>
  </li>

</ul>

<!-- ########################### end of smenu #################################### -->

{% else %}
<!-- You are not logged in -->
<div class='form'>
    <div class="login-form">
    
    <a href="{% url 'login' %}"><input type="submit" class="login-button" value="login"></a>
    <p class="link">You are not logged in</p>
    
    <a href="{% url 'register' %}"><input type="submit" class="login-button" value="register"></a>
    <p class="link">Don't have an account? <br>

{% endif %}

{% endblock %}
{% block content %}
{% endblock %}




