<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
    {% load static %}
    <script src="{% static 'main/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <script src="{% static 'main/bootstrap.min.js' %}"></script>

</head>
{% block content %}
<body> 
    <form class="login-form" method="post">
        <h1 class="login-title">Login</h1>

        {% csrf_token %}
        {{ form.as_p }}
        
        <input type="submit" value="Login" name="submit" class="login-button"/>
        <p class="link">Don't have an account? <br>
        <a href="registration.php">Registration Now</a></p>
  </form>




</body>
{% endblock %}
</html>



