{% extends 'main/base.html' %}

{% block content %}

<body>
    <p>
    <h1></h1>
    <div id="new-pauid-modal" class="modal-disabe-display-none">
        <div class="modal-content">
            <div>
                <span></span>
                <h1 class="modal-title">New Production Actual</h1>
                

                <form action="{% url 'main:new_pauid' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <a href="{% url 'main:index' %}"><input type="button" value="back"></a>
                    <input type="submit" value="OK">
                </form>
                </p>
            </div>
        </div>
    </div>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


    </p>
    {% endblock %}
    
    