{% extends 'smenu.html' %}
{% block title %}Open Production Actual{% endblock %}
{% block content %}
{% if user.is_authenticated %}


<div class="modal-content">
    <div>
        <span></span>
        <h3 class="modal-title">Select Production Actual to open.</h3>
        
        
        {% for ProductionActual in palist %}
        <a href="{% url 'ProductionActual' ProductionActual.id %}">{{ ProductionActual.pa_date }}  {{ ProductionActual.shift }} shift </a> <br>
        {% endfor %}
        
      
    </div>
</div>

{{ debug_out }}


{% else %}
{% endif %}
{% endblock %}