{% extends 'smenu.html' %}
{% block title %}Open Production Actual{% endblock %}
{% block content %}
{% if user.is_authenticated %}


<div class="modal-content">
    <div>
        <span></span>
        <h3 class="modal-title">Select Month</h3>
        <span>in Year: {{ year }}</span>
        {% for months in monthlist %}
        <li><a href=./{{ months.month }}> {{ months.month }}  </a></li>
             
        {% endfor %}
      
    </div>
</div>


{{ debug_out }}
{% else %}
{% endif %}
{% endblock %}